<table class="table table-striped data">
  <thead>
    <tr>
      <th>Status</th>
      <th>URL</th>
      <th>Method</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr ng-show="!records.length">
      <td colspan="7">No record yet.</td>
    </tr>

    <tr ng-repeat="record in records track by $index">
      <td>{{record._status}}</td>
      <td>{{record._url}}</td>
      <td>{{record._method}}</td>
      <td>{{record.body() | characters:80 :true}}</td>

      <td class="icon">
        <span class="glyphicon glyphicon glyphicon-chevron-down" title="Show details"></span>
      </td>

      <td class="icon">
        <span class="glyphicon glyphicon-edit" title="Edit record"></span>
      </td>

      <td class="icon">
        <span class="glyphicon glyphicon-remove" title="Delete record"></span>
      </td>
    </tr>
  </tbody>
</table>
