<div class="action-buttons" ng-class="{'has-error': search.error}">
  <div class="input-container">
    <input
      type="text"
      class="form-control"
      placeholder="Search"
      ng-model="search.value"
      ng-change="updateSearchValue()" />

    <span
      class="glyphicon glyphicon-remove icon-remove"
      ng-click="clearSearch()">
    </span>
  </div>

  <button type="button" class="btn btn-primary pull-right" ng-click="$state.go('app.dashboard.records.add')">
    Add record
  </button>
</div>

<table class="table table-striped records">
  <thead>
    <tr>
      <th width="50px">Status</th>
      <th width="20%">URL</th>
      <th width="20%">Method</th>
      <th>Body</th>
      <th>Target</th>
      <th class="icon"></th>
      <th class="icon">
        <span class="glyphicon glyphicon-refresh" ng-click="listRecords()"></span>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr ng-show="!records.length">
      <td colspan="7">No record yet.</td>
    </tr>

    <tr ng-repeat="record in records | filter:filterObjects track by $index">
      <td ng-if="record.details" colspan="7">
        <div class="record-edition" ui-view="recordEdition"></div>
      </td>

      <td ng-if="!record.details">
        <span class="label label-status label-{{record._status}}">
          <a href="" set-to-search-box="status">{{record._status}}</a>
        </span>
      </td>

      <td ng-if="!record.details">
        <span class="label label-primary">
          <a href="" set-to-search-box="url">{{record._url}}</a>
        </span>
      </td>

      <td ng-if="!record.details">
        <span class="label label-primary">
          <a href="" set-to-search-box="method">{{record._method}}</a>
        </span>
      </td>

      <td ng-if="!record.details">{{record.body() | characters:80 :true}}</td>

      <td ng-if="!record.details">
        <span class="label label-primary">
          <a href="" set-to-search-box="targetId">{{record._targetId}}</a>
        </span>
      </td>

      <td ng-if="!record.details">
        <span
          ng-class="{'glyphicon glyphicon glyphicon-chevron-down': record.opened, 'glyphicon glyphicon-chevron-right': !record.opened}"
          ng-click="toggleRecordDetails(record, $index)"
          title="Show details"></span>
      </td>

      <td ng-if="!record.details">
        <span class="glyphicon glyphicon-remove" title="Remove record"
          ng-click="removeRecord(record)"></span>
      </td>
    </tr>
  </tbody>
</table>
