body {
  font-family: 'Cabin', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

 /* Overwrite bootstrap theme */

.nav, .pagination, .carousel, .panel-title, .cursor, a {
  cursor: pointer;
}

.navbar-default .navbar-brand {
  color: white;
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', sans-serif;
  margin: 0 0 15px 0;
}

h1 {
  font-size: 1.6em;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 1.4em;
  font-weight: bold;
  color: white;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

span[ng-click] {
  cursor: pointer;
}

/* Classes */

.size-label-small {
  width: 80px !important;
}

.disabled {
  .opacity(0.5);
  cursor: default !important;
}

/* Icons */

.glyphicon {
  top: 3px;
  cursor: pointer;
}

/* Mock / Proxy */

.log-mock {
  color: @mock-color;

  a {
    color: @mock-color;
  }
}

.log-proxy {
  color: @proxy-color;

  a {
    color: @proxy-color;
  }
}

.log-error {
  color: red !important;

  a {
    color: red;
  }
}
