body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

 /* Overwrite bootstrap theme */

.nav, .pagination, .carousel, .panel-title, .cursor, a { cursor: pointer; }

.navbar-default .navbar-brand {
  color: white;
}

.label {
  font-size: 90%;

  &.label-status {
    color: black;

    a {
      color: black !important;
    }

    &.label-200, &.label-201, &.label-202, &.label-203, &.label-204 {
      background-color: #20FF58;
    }

    &.label-300, &.label-301, &.label-302, &.label-303, &.label-304 {
      background-color: #ffb03d;
    }

    &.label-400, &.label-401, &.label-402, &.label-403, &.label-404 {
      background-color: #ffb03d;
    }

    &.label-500, &.label-501, &.label-502, &.label-503, &.label-504 {
      background-color: red;
    }
  }
}

/* Titles */

h1 {
  font-size: 1.6em;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 1.4em;
  font-weight: bold;
  color: white;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

span[ng-click] {
  cursor: pointer;
}

/* Forms */

input[type=text] {
  position: relative;
  z-index: 1;

  // Include the remove icon in the input text
  ~ .glyphicon-remove {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 5px;
  }
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none !important;
}

/* Classes */

.size-label-small {
  width: 80px !important;
}

.disabled {
  .opacity(0.5);
  cursor: default !important;
}

/* Icons */

table {
  .glyphicon {
    top: 3px;
    cursor: pointer;
  }
}
