@log-background: #2f3742;

div.logs-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 150px;
  max-height: 300px;
  padding: 0 10px;
  background: @log-background;
  box-shadow: 0px -2px 3px 0px #222;

  ul.logs {
    // no margin to fix the perfect-scrollbar height
    margin: 0;
  }

  .scroller {
    max-height: 100px;
    overflow-y: hidden;
    position: relative;
    padding: 0;
    margin: 0;
  }

  /**
   * Hack to get a tiny space between the log and the bottom of the page.
   * A margin of the perfect-scrollbar causes a scroll bar too height.
   */
  .spacer {
    height: 10px;
  }
}
