nav.records {
  > div {
    padding-left: 0;
  }
}

table.data {
  // bottom margin when tables are one above the other (with narrow resolutions)
  margin: 0 0 15px 0;
  padding: 0;

  th.icon, td.icon {
    width: 40px;
  }

  li {
    list-style: none;
    margin: 15px 0;
  }

  .label {
    font-size: 90%;

    &.label-status {
      color: black;

      a {
        color: black !important;
      }

      &.label-200, &.label-201, &.label-202, &.label-203, &.label-204 {
        background-color: #20FF58;
      }

      &.label-300, &.label-301, &.label-302, &.label-303, &.label-304 {
        background-color: #ffb03d;
      }

      &.label-400, &.label-401, &.label-402, &.label-403, &.label-404 {
        background-color: #ffb03d;
      }

      &.label-500, &.label-501, &.label-502, &.label-503, &.label-504 {
        background-color: red;
      }
    }
  }

  textarea {
    width: 100%;
    height: 80px;
    font-family: monospace;
    font-size: 0.8em;
    resize: vertical;
  }

  .scroller {
    max-height: 350px;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
  }
}
