nav.records {
  > div {
    padding-left: 0;
  }
}

table.data {
  margin: 0;
  padding: 0;

  td.icon {
    width: 40px;
  }

  li {
    list-style: none;
    margin: 15px 0;
  }

  .label {
    font-size: 90%;

    &.label-proxy {
      background-color: @proxy-color;

      a {
        color: black !important;
      }
    }
  }
}
